extends base.pug

block content 
    h4 Update Video
    form(method="POST")
        input(placeholder="Video Title", name="title", required, type="text",value=video.title, maxlength=80)
        input(placeholder="Description", name="description", required, type="text", value=video.description, minlength=20)
        input(placeholder="Hashtags, separated by comma.", name="hashtags", required, value=video.hashtags.join(), type="text")
        input(value="save", type="submit")